<div class="mg">
    <div class="row m-120 p-120 d-flex justify-content-center">
        <div class="col-12 d-flex justify-content-center">
            <div class="w-auto container">
                <div class="bg-ligh rounded shadow-lg borde">
                    <div class="mx-auto general" >
                        <div class="row titulo">
                            <h4 class=" text-center">Editar Perfil</h4>
                        </div>
                        <div class="row mt-9">
                            <div class="col-12 mx-auto px-9 margen">
                                <div class="row">
                                    <div class="col-12">
                                        <form class="datos">
                                            <div class="row ">
                                                <div class="col-12">
                                                    <div class="i-group">
                                                        <input type="text" required id="nueva-contraseña">
                                                        <label class="input-label" for="nueva-contraseña">
                                                            Nueva Contraseña:
                                                        </label>
                                                    </div>
                                                    <p>
                                                </div>
                                                <div class="col-12">
                                                    <div class="boton1">
                                                        <button class="btn btn-outline-black"
                                                        onclick="enviar();" routerLink="/">Enviar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <br>
        </div>
    </div>
</div>
