<div class="row align-items-center">
  <div class="col-md-2">
    <h3 class="principal">Historial</h3>
  </div>
  <div class="col-md-10 text-end">
    <div>
      <input class="buscar" id="buscar" matInput placeholder="Buscar" autocomplete="off" (keyup)="filterData($event)" >
      <button class="btn rounded-pill btn-b"><span class="fas fa-search"></span></button>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <table mat-table [dataSource]="dataSource" matSort class="table table-striped">
      <!-- id Column -->
      <ng-container matColumnDef="Id"  >
        <th mat-header-cell *matHeaderCellDef mat-sort-header ><span style="position: relative;">#</span></th>
        <td mat-cell *matCellDef="let item" > {{item.Id}} </td>
      </ng-container>

      <!-- Ambiente Column -->
      <ng-container matColumnDef="Ambiente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ambiente</th>
        <td mat-cell *matCellDef="let item"> {{item.AmbienteDTO.Nombre}} </td>
      </ng-container>

      <!-- Sede Column -->
      <ng-container matColumnDef="SedeNombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sede Direccion</th>
        <td mat-cell *matCellDef="let item"> {{item.AmbienteDTO.Sede.Direccion}} </td>
      </ng-container>

       <!-- Bloque Column -->
       <ng-container matColumnDef="Bloque">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bloque</th>
        <td mat-cell *matCellDef="let item"> {{item.AmbienteDTO.Bloque}} </td>
      </ng-container>

      <!-- Zonas Column -->
      <ng-container matColumnDef="Zona">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Zona</th>
        <td mat-cell *matCellDef="let item"> {{item.lstZonaDTO}} </td>
      </ng-container>

      <!-- Fecha Column -->
      <ng-container matColumnDef="Fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
        <td mat-cell *matCellDef="let item"> {{item.Fecha}} </td>
      </ng-container>

      <!--Opciones-->
      <ng-container matColumnDef="Opciones">
        <th mat-header-cell *matHeaderCellDef >Opciones</th>
          <td mat-cell *matCellDef="let item">
            <button class="btn btn-outline-warning me-2" (click)="modalGuardarHistorialAdministrador(item.Id)">
              VISUALIZAR
            </button>
          </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<mat-paginator #paginator
[pageSize]="5"
[pageSizeOptions]="[10,20,50,100]"
>
</mat-paginator>
